<%- include('header') %> 


   <!-- GRID -->

   <div class="container">
    <div class="row forTables">
      <div class="mainTitle">My last trips :</div>
        <div class="col-12 offset-lg-12 col-lg-12">
          
          <!-- Liste des réservations passées-->
          <div class="card-body">
            <div class="table-responsive">
              <table id="order-info" class="table tableauArrondi">
                <thead>
                  <thead>
                    <tr class="table-danger tableTitle">
                      <th>Date</th>
                      <th>Journey</th>
                      <th>Departure time</th>
                      <th>Price</th>  
                    </tr>
                  </thead>
                </thead>
                
                <tbody>
                  <tr class="table-light">
                    <th>25 août 2018</th>
                    <th>Paris / Lille</th>
                    <th>11:00 pm</th>
                    <th>150€</th>
                  </tr>
                  <tr class="table-light">
                    <th>2 août 2018</th>
                    <th>Bordeaux / Nantes</th>
                    <th>15:00 pm</th>
                    <th>150€</th>
                  </tr>
                </tbody>
              </table>

              <div class="btnnn"><a href="/home"><button class="btn btn-danger" type="submit">Home</button></a></div>
              
            </div>
          </div>
    </div>
 </div>











            </tbody>
          </table>
  </div>
    </div>



   
<%- include('footer') %>