<%- include('header') %> 


   <!-- GRID -->

    <div class="container">
        <div class="row forTables">
          <div class="mainTitle">Oops no train avalaible...</div>
        </div>

        <div>
            <button href="/home" class="btn btn-danger" type="submit">Home</button>
        </div>
    </div> 



   
<%- include('footer') %>