<%- include('header') %> 


   <!-- GRID -->
   <div class="row">
        <div class="error">
        <h1>Oops no train avalaible</h1>
        <button href="/" class="btn btn-danger" type="submit" id="button-addon2"></button>
        </div>
    </div>        
            




   
<%- include('footer') %>