<%- include('header') %> 


   <!-- GRID -->
   <div class="row">
        <div class="d-inline-flex justify-text-content align-middle">
        <h1>Oops no train avalaible</h1>
        <button href="/home"></button>
        </div>
    </div>        
            




   
<%- include('footer') %>