<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap" rel="stylesheet">
    <title>Ticketac</title>
</head>
<body>


    <!-- HEADER -->
    <nav class="header navbar">

        <a href="/home">
            <div class="headerDiv">
                <img src="../images/train.png">
                <h3 class="siteName">Ticketac</h3>
            </div>
        </a>

        <div class="divAnim">
            <div class="trainContainer">
                <%- include('train') %>
            </div>
            <div class="railsContainer">
                <%- include('rails') %>
            </div>
        </div>

        <div class="headerDiv">
            <a class="login" href="/users/">Dashboard</a>
            <% if(user){%>
                <a class="login" href="/users/disconnect">disconnect</a>
            <%}%>
        </div>

    </nav>
