<%- include('header') %>


   <!-- GRID -->
   <div class="container">
      <div class="row forTables">
        <div class="mainTitle">One-way ticket:</div>
          <div class="col-12 col-lg-12">
            <!--trip section-->
            <form action="/search" method="POST">
              <div class="input-group mb-3">
                <input name="from" type="text" class="form-control" placeholder="From: Paris, Marseille..." aria-label="new city name" required>
                <input name="to" type="text" class="form-control" placeholder="To: Lille, Nantes..." aria-label="new city name" required>
                <input name="on" type="date" class="form-control" aria-label="new city name" required>
                <div class="input-group-append">
                  <button class="btn btn-danger" type="submit" id="button-addon2">Go</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-lg-6">
          </div>

      </div>

    <!--l'image du landmark-->
    </div>
    <div class="landmark">
    <img src="./images/landmark.png">
    </div>

   <%- include('footer') %>