<%- include('header') %>


   <!-- GRID -->
   <div class="container">
      <div class="row">
          <div class="col-12 offset-lg-6 col-lg-6">
            
            
            <div>My tickets</div>
           
            <!--liste des billets réservés section-->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="order-info" class="table" width="100%" cellspacing="0">
                    <thead>
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Journey</th>
                          <th>Date</th>
                          <th>Departure time</th>
                          <th>Price</th>  
                        </tr>
                      </thead>
                    </thead>
                    
                    <tbody>


                      <% console.log(orders);
                      for(var i=0;i<orders.length;i++) { %>

                      <tr>
                        <th><%= i+ 1%></th>
                        <th><%= orders[i].departure%></th>
                        <th>Date</th>
                        <th>Departure time</th>
                        <th>Price</th>  
                      </tr>

                      <%}%>


                    </tbody>
                  </table>
          </div>
        </div>

      </div>
   </div>
   
   <%- include('footer') %>