body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1e5799;
  color: white;
}

.row {
  width: 100%;
}

ul, span {
  color: black;
}

a {
  color: #00B7FF;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.842);
  color: black
}

.lasttrips {
  margin-right: 15px;
  color: black;
}

.login {
  margin-right: 15px;
  color: red;
}
.resultDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnTxt {
  color: white;
}

.btnTxt:hover {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  margin: 0 auto;
  width: 80%;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 2em;
  padding-right: 2em;

}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-control {
  box-sizing: content-box;
}

.landmark{
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landmark>img {
  height: 40vh;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
