body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1e5799;
}

a {
  color: #00B7FF;
}

.list-group-item {
  display: flex;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.842);
}

.lasttrips {
  margin-right: 15px;
  color: black;
}

.login {
  margin-right: 15px;
  color: red;
}

.container{
  display: flex;
  margin: 0 auto;
  width: 80%;
  padding: 100px;
  
}